.section {
  background-color: var(--b1);
  padding: 40px;
}

.experiencia-title {
  color: var(--w0);
  margin-bottom: 20px;
}

.experiencia-text {
  color: var(--g0);
  font-size: 20px;
  max-width: 50ch;
}

.experiencia-text strong {
  color: var(--w0);
}

.experiencia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 100px;
}

.empresa {
  display: grid;
  gap: 5px 10px;
  background-color: var(--b0);
  color: var(--w0);
  padding: 40px;
  border-radius: 8px;
  position: relative;
}

.empresa::before {
  content: '';
  display: block;
  width: 4px;
  height: 100%;
  /* background-color: var(--g0); */
  position: absolute;
}

.empresa-title {
  font-family: 'Rubik', serif;
  font-size: 20px;
}

.empresa-text {
  max-width: 40ch;
  color: var(--g0);
  font-size: 16px;
}

.empresa-habilidades {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.empresa-habilidades li {
  background-color: var(--b1);
  padding: 20px 10px;
  text-align: center;
  border-radius: 4px;
}

.empresa-jobs {
  display: grid;
  gap: 20px;
}

@media (width <= 1000px) {
  .empresa-habilidades li {
    text-align: left;
    padding: 20px;
  }
  .experiencia {
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 40px;
  }
}

@media (width <= 600px) {
  .experiencia-title {
    font-size: 3rem;
    text-transform: uppercase;
  }

  .experiencia-text {
    font-size: 18px;
  }

  .empresa-jobs {
    gap: 10px;
  }

  .empresa::before {
    height: 100%;
    border-radius: 8px;
    background: #e21;
  }
}
