.main-profile,
.main-title {
  font-size: 4rem;
  line-height: 1.3;
}

.break {
  display: block;
  word-break: break-all;
  max-width: 11ch;
}

.main-profile {
  color: var(--g0);
}

.main-title {
  margin-bottom: 10px;
  color: var(--b0);
}

.main-region {
  font-size: 1.125rem;
  color: var(--g0);
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.main-img img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (width <= 1000px) {
  .main-profile,
  .main-title {
    font-size: 3rem;
    animation: none;
  }

  .main {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: center;
  }
}

@media (width <= 800px) {
  .main-profile,
  .main-title {
    font-size: 1.5rem;
  }
  .main-img img {
    display: none;
  }
}

@media (width <= 400px) {
  .break {
    max-width: max-content;
  }
}
