/* Global */

@import './global/reset.css';
@import './global/global.css';
@import './global/components.css';
@import './global/color.css';
@import './global/animation.css';

/* Header */

@import './header/header.css';

/* Main */

@import './main/main.css';

/* Experiência */

@import './experiencia/experiencia.css';

/* Formação */

@import './formacao/formacao.css';

/* Footer */

@import './footer/footer.css';
